<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WiseWords | random quotes</title>
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/css.css">
</head>
<body>
    <div class="__main">
        <div class="row p-3" id="app">
            <p class="lead text-center __title">WiseWords</p>
            <div v-if="loading"  class="justify-content-center d-flex ">
                <p class="spinner-border text-secondary" role="status"></p>
            </div>
            <div v-else class="">
                <div v-if="error" class="alert alert-warning" role="alert">
                    {{errorMsg}}
                </div>
                <div v-else class="offset-md-3  col-lg-6 col-md-6 p-5  position-relative __content_section">
                    <object class="__svg_style position-absolute" data="asstes/quote-svg.svg" width="100px" height="100px"> </object>
                    
                    <p class="lead __main_quotes">{{ data.content }}</p>
    
                    <div class="position-absolute border-rounded rounded-pill border __main_author_section">
                        <div class="__main_author"> {{ data.author }} </div>
                    </div>
                    <div class="position-relative __tag_section" >
                        <div class="position-absolute __main_tag" >
                            <div class="d-flex gap-1">
                                
                                <small class="border rounded-pill __tag_content"  v-for="item in data.tags" ::key="item"> {{ item }} </small>
                            </div>
                        </div>
                        <div class="position-absolute __generate_btn">
                            <p class="btn btn-secondary" @click="handleQuote()">Generate Quote</p>
                        </div>
                    </div>
                </div>
            </div>
           
            
            
        </div>
    </div>
    <script src="script/js.js"></script>
    <script src="script/vue.js"></script>
    <script src="script/app.js"></script>
</body>
</html>